[Unit]
Description=Box Backup server
After=network.target

[Service]
User=boxbackup
ExecStart=/usr/bin/bbstored -Fv
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
